.container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.input-container {
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

button {
  padding: 10px 20px;
  background-color: #007bff; 
  color: #fff; 
  border: none;
  cursor: pointer;
  margin: 0 5px; /* Add some spacing between buttons */
}

button:disabled {
  opacity: 0.6; /* Visually disabled state */
  cursor: not-allowed; /* Change cursor to not-allowed */
}

button:hover:not(:disabled) {
  background-color: #0056b3; /* Lighter shade of gray on hover */
}

#output {
  margin-top: 20px;
  text-align: left;
}

.checkmark {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #4CAF50;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  color: white;
}
